/* --- Logo --- */
.logo {
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Box sizing */
    width: 100%;
}

    .logo img {
        width: 150px;
    }

/* --- Mobile --- */
@media (max-width: 720px) {
    /* --- Logo --- */
    .logo {
        /* Style */
        display: none;
    }
}