.create-book .form form {
    text-align: left;
}

    .create-book .form label {
        display: block;
        margin: 10px 0 20px 5px;
        font-size: 16px;
        font-weight: 500;
    }

        .create-book .form label input {
            margin: 0 5px;
        }

    .create-book .form hr {
        margin: 10px 0;
    }

    .create-book .form a {
        margin-top: 10px;
    }